*
  margin: 0
  padding: 0

.clear
  clear: both

body
  font-family: helvetica, sans-serif
  font-size: 12px

h1
  margin: 20px 0 30px
h3
  margin: 10px 0 5px

#page_wrap
  width: 980px
  margin: 0 auto

.hand
  margin-bottom: 30px
  .card
    padding: 60px 40px
    border: 1px solid #ccc
    border-radius: 5px
    float: left
    font-size: 22px
    font-weight: bold
    margin: 0 15px 15px 0
    background: #f0f0f0
