%html
  %head
    %link{ rel: :stylesheet, href: "/application.css", type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Lobster', rel: :stylesheet, type: 'text/css' }
    %script{ src: "/jquery.js", type: 'text/javascript', charset: 'utf-8' }
    %script{ src: "/underscore.js", type: 'text/javascript', charset: 'utf-8' }
    %script{ src: "/json2.js", type: 'text/javascript', charset: 'utf-8' }
    %script{ src: "/backbone.js", type: 'text/javascript', charset: 'utf-8' }
    %script{ src: "/application.js", type: 'text/javascript', charset: 'utf-8' }

    %title Blackjack

  %body
    %header
      %span.icon
      %h1 Palms Casino Blackjack
      .clear
    #page_wrap
      #notification
      #blackjack_wrapper

        %h3 Dealer Cards
        #dealer

        %h3 Player Cards
        #player
